* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wrapper {
    position: relative;
    min-height: 100vh;
    background: radial-gradient(circle at 0% 100%,
    #e4e4e473 4%,
    #fefffee5 30%,
    #e0f0dfe5 62%,
    #c6cbc6e5 85%,
    #767676);
}

#body-content {
   
            height: 100%;
}


/*Estilo da barra de navegação*/
.navbar {
    height: 100px;
    background: radial-gradient(circle at 0% 100%,
            #e4e4e473 4%,
            #fefffee5 30%,
            #e0f0dfe5 62%,
            #c6cbc6e5 85%,
            #767676);
    color: black;
    border-bottom: 1px solid #e4e4e473;
}


a.nav-link {
    color: white;
    font-size: 20px;
}


.navbar-brand:hover {
    background-color: transparent;
}


a.nav-link:hover {
    color: black;
    background: lightgray;
    border-radius: 50px;
}

/* corpo do banner e descrição */

main {
    
    color: black;
}

#containerBanner {
    display: flex;
    padding: 40px 20px;
}



#carouselExampleCaptions img {
    padding: 5px;
    height: 500px;
    border-radius: 20px;

}

.carousel-inner {
    border-radius: 20px;
    box-shadow: 2px 6px 8px 0 rgb(32, 29, 29);
}

.description {
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: justify;
    color: black;
    padding: 20px;
    margin-top: 20px;
}

.description h1{
    padding: 20px;
    margin-bottom: 30px;
}

.description p{
    padding: 10px;
}

.tecnologias{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: justify;
    color: black;
    padding: 20px;
    margin-top: 20px;
}

.tecnologias h1{
    padding: 20px;
    margin-bottom: 30px;
}

.tech-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

/*estilo de curriculos*/

#cv-container{
    padding: 10px;
    height: 500px;
}

.cv h1{
    padding: 20px;
    margin-bottom: 30px;
}

.cv{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cv a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.cv a:hover{
    color: black;
    background: lightgray;
    border-radius: 50px;
}

#curriculo{
    padding: 50px;
}

#curriculo a{
    text-decoration: none;
    color: black;
}

.img-cv{

    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.img-cv img{
    border-radius: 50%;
}
.titulo-cv{
    display: flex;
}

.titulo{
    margin-right: 30px;
}

.icons-contact{
    display: flex;
    justify-content: space-evenly;
    
}
.content{
    padding-bottom: 20px;
}

.download{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.download a{
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(6, 64, 190);
    color: white!important;
}

.download a:hover{
    background-color: rgb(5, 46, 136);
}

.erro{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.erro a{
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(6, 64, 190);
    color: white!important;
    text-decoration: none;
}

.erro a:hover{
    background-color: rgb(5, 46, 136);
}


/*Estilo do rodapé*/
.footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background: radial-gradient(circle at 0% 100%,
            #e4e4e473 4%,
            #fefffee5 30%,
            #e0f0dfe5 62%,
            #c6cbc6e5 85%,
            #767676);
    color: black;
    border-bottom: 1px solid white;
    padding: 10px;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}


.copyRight {
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    width: 100%;
}

/* botão voltar ao topo */

#voltar-topo {
    position: fixed;
    bottom: 5px;
    right: 50px;
    border: 1px solid rgb(6, 64, 190);
    color: rgb(6, 64, 190);
}

#voltar-topo:hover {
    background-color: lightgray;
}

